/.idea
/Testing

/build/*
!/build/assets/
!/build/assets/*

/lib/*
!/lib/catch/
!/lib/catch/*

/Makefile
/CMakeFiles
/CMakeCache.txt
/cmake-build-debug

*.cbp
*.DS_Store

/CTestTestfile.cmake
/cmake_install.cmake