language: cpp

os:
  - osx

compiler:
  - gcc

matrix:
  include:
    - os: osx
      osx_image: xcode8
      env:
        - MATRIX_EVAL="brew install gcc && CC=gcc-6 && CXX=g++-6"

before_install:
  - eval "${MATRIX_EVAL}"

install:
  - brew install wxmac
  - brew upgrade boost
  - brew upgrade cmake

branches:
  except:
   - dev

before_script:
  - export CXX=g++
  - export CC=gcc
  - ./.travis/before_script.sh

script:
  - cmake . && make && make test

after_script:
  - cat Testing/Temporary/LastTest.log
